In [24]:
import pandas as pd

In [30]:
df1 = pd.read_excel("Data/ข้อ5-compare_us_loan_with_thai_loan/U.S.stat/สถานนะของหนี้เพื่อการศึกษาของสหรัฐ 2023.xlsx", sheet_name='Data', skiprows=4, usecols=['Unnamed: 1', 'Unnamed: 2'])
df1.rename(columns={'Unnamed: 1': 'type', 'Unnamed: 2': 'in percent'}, inplace=True)
df1

          type  in percent
0  Forbearance          62
1      Default          15
2    In school          13
3    Deferment           7
4        Grace           2
5    Repayment           1

จะเห็นได้จากข้อมูลนี้ว่า default rate(หนี้สูญ)ของสหรัฐอเมริกา = 15% เปรียบเทียบกับประเทศไทยที่จากข้อมูลล่าสุดในเดือนกันยาปี 2565 มีอัตราหนี้เสียของ กยศ.ถึง 62%
** สถิติของไทยมาจากบทความของ dailynews และ สถิติของสหรัฐมาจาก Statista ซึ่งไม่มีประวัติของหนี้เสียตลอดหลายปี มีเพียงแค่อัตราส่วนของหนี้เสียใน Student loan โดยรวมในปี 2566 ซึ่งอย่างที่เห็นมีค่าเท่ากับ 15%

แต่ที่น่าสนใจกว่าคือปัจจัยต่างๆ ที่อาจจะส่งผลทำให้ NPL หรือหนี้เสียของไทยและสหรัฐแตกต่างกันขนาดนี้ เราจะเปรียบเทียบกับปัจจัยต่างๆ ดังนี้
1. รายได้ต่อครัวเรือน
2.

In [31]:
df4 = pd.read_excel('Data/ข้อ5-compare_us_loan_with_thai_loan/thai_stat/ข้อมูลคนผิดนัดชำระหนี้.xlsx')
df4

,ลำดับสถานะ,สถานะผู้กู้ยืม,จำนวนผู้กู้ยืม(รายบัญชี),จำนวนเงินกู้ยืม(บาท),จำนวนเงินต้นผิดนัดชำระหนี้(บาท)
0,10,1.อยู่ระหว่างศึกษา ปลอดหนี้,1366838,1.432988e+11,0.000000e+00
1,20,2.อยู่ระหว่างชำระหนี้,3519163,4.518960e+11,9.736006e+10
2,21,2.1ไม่ผิดนัดชำระหนี้,1277319,1.889971e+11,0.000000e+00
3,22,2.2ผิดนัดชำระหนี้,2241844,2.628990e+11,9.736006e+10
4,30,3.ชำระหนี้เสร็จสิ้น,1848558,1.457144e+11,0.000000e+00
5,40,4.เสียชีวิต ทุพพลภาพ,72270,6.391653e+09,0.000000e+00

In [ ]:
# df2 = pd.read_excel("Data/U.S.Stat/statistic_id1078714_number-of-student-loan-borrowers-by-balance-us-2023.xlsx", sheet_name='Data', skiprows=4, usecols=['Unnamed: 1', 'Unnamed: 2'])
# df2.rename(columns={'Unnamed: 1': 'range', 'Unnamed: 2': 'loaner in million'}, inplace=True)
# df2

In [ ]:
# df3 = pd.read_excel('Data/U.S.Stat/student loan in capital.xlsx', sheet_name='Data', skiprows=4, usecols=['Unnamed: 1', 'Unnamed: 2'])
# df3.rename(columns={'Unnamed: 1': 'age range', 'Unnamed: 2': 'total loaned in billion u.s. dollar'}, inplace=True)
# df3