In [1]:
import pandas as pd

C:\Users\3lett\AppData\Local\Temp\ipykernel_24748\4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [21]:
df1 = pd.read_excel("Data/statistic_id785203_students-with-federal-loans-for-higher-education-us-2023-by-repayment-status.xlsx", sheet_name='Data', skiprows=4, usecols=['Unnamed: 1', 'Unnamed: 2'])
df1.rename(columns={'Unnamed: 1': 'type', 'Unnamed: 2': 'in percent'}, inplace=True)
df1

          type  in percent
0  Forbearance          62
1      Default          15
2    In school          13
3    Deferment           7
4        Grace           2
5    Repayment           1

จะเห็นได้จากข้อมูลนี้ว่า default rate(หนี้สูญ) = 15%

In [11]:
df2 = pd.read_excel("Data/statistic_id1078714_number-of-student-loan-borrowers-by-balance-us-2023.xlsx", sheet_name='Data', skiprows=4, usecols=['Unnamed: 1', 'Unnamed: 2'])
df2.rename(columns={'Unnamed: 1': 'range', 'Unnamed: 2': 'loaner in million'}, inplace=True)
df2

                             range  loaner in million
0     Less than 5,000 U.S. dollars                7.0
1     5,000 to 10,000 U.S. dollars                7.8
2    10,000 to 20,000 U.S. dollars                9.5
3    20,000 to 40,000 U.S. dollars               10.0
4    40,000 to 60,000 U.S. dollars                4.4
5    60,000 to 80,000 U.S. dollars                2.6
6   80,000 to 100,000 U.S. dollars                1.4
7  100,000 to 200,000 U.S. dollars                2.5
8            200,000+ U.S. dollars                1.0

In [18]:
df3 = pd.read_excel('Data/student loan in capital.xlsx', sheet_name='Data', skiprows=4, usecols=['Unnamed: 1', 'Unnamed: 2'])
df3.rename(columns={'Unnamed: 1': 'range', 'Unnamed: 2': 'total loaned in billion u.s. dollar'}, inplace=True)
df3

                  range  total loaned in billion u.s. dollar
0  24 years and younger                                100.0
1        25 to 34 years                                491.4
2        35 to 49 years                                624.4
3        50 to 61 years                                278.5
4    62 years and older                                109.8